body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #F2FFFC;
}

h1, h2{
    font-family:  "Open Sans Condensed";
}

h1{
    text-align: center;
    color: #FFF;
    background-color: #851944;
}

p{
    text-align: justify;
    font-size: 120%;
    font-family: "Crimson Text";
}

